/* 12 columns grid (1920px maximum width)
 * ================================================== */

.container                                  { position: relative; width:100%; max-width: 1920px; margin: 0 auto; padding: 0; }
.container .column,
.container .colums							{ float: left; display: inline }

/* Base Grid */
.container .one.column                      { width: 8.333333333%; }
.container .two.columns                     { width: 16.66666667%; }
.container .three.columns                   { width: 25%; }
.container .four.columns                    { width: 33.33333333%; }
.container .five.columns                    { width: 41.66666667%; }
.container .six.columns                     { width: 50%; }
.container .seven.columns                   { width: 58.33333333%; }
.container .eight.columns                   { width: 66.66666667%; }
.container .nine.columns                    { width: 75%; }
.container .ten.columns                     { width: 83.33333333%; }
.container .eleven.columns                  { width: 91.66666667%; }
.container .twelve.columns                  { width: 100%; }

.container .one-quarter.column              { width: 25%; }
.container .one-third.column                { width: 33.33333333%; }
.container .half.column                     { width: 50%; }
.container .two-thirds.column               { width: 66.66666667%; }
.container .three-quarters.column           { width: 75%; }

.container .ruler {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Mobile grid (up to 767px)
 * ================================================== */

    @media only screen and (max-width: 767px) {
        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
		.container .one-quarter.column,
        .container .one-third.column,
		.container .half.column,
        .container .two-thirds.column,
		.container .three-quarters.column	{ width: 100%; }
    }
